{{- define "client" -}}
{{- $typeMap := .TypeMap -}}

{{- if .Services}}
//
// Client
//

{{- range .Services}}
class {{.Name}}:
    def __init__(self, hostname):
        self.hostname = hostname
        self.path = '/rpc/{{.Name}}/'

    def url(self, name):
        return self.hostname + self.path + name

    {{- range .Methods}}
    def {{.Name}}(self, {{template "methodInputs" dict "Method" . "TypeMap" $typeMap}}):
        url = self.url('{{.Name}}')
        headers = {'Content-Type': 'application/json'}
        data = json.dumps({{.Name}}Args)

        response = requests.post(url, headers=headers, data=data)
        response.raise_for_status()

        response_data = response.json()
        return {{.Name}}Return(**response_data)
    {{- end}}
{{- end}}
{{- end}}
{{- end -}}
