{{- define "pyType" -}}
{{- $type := .Type -}}
{{- $typeMap := .TypeMap -}}

{{- if isMapType .Type -}}
    dict

{{- else if isListType .Type -}}
    List[{{template "type" dict "Type" (listElemType .Type) "TypeMap" $typeMap}}]

{{- else if isStructType .Type -}}
    # {{.Type}}
    class {{.Type}}:
        def __init__(self, {{range $i, $field := .Fields}}{{if gt $i 0}}, {{end}}{{$field.Name}}{{end}}):
            {{range .Fields}}
            self.{{.Name}} = {{.Name}}
            {{end}}
{{- else -}}
    {{ get $typeMap .Type }}

{{- end -}}
{{- end -}}

