{{- define "type" -}}

{{- $type := .Type -}}
{{- $typeMap := .TypeMap -}}

{{- if isMapType .Type -}}

    {{- $keyType := mapKeyType $type -}}
    {{- $valueType := mapValueType $type -}}

    Dict[{{ template "type" dict "Type" $keyType "TypeMap" $typeMap }}, {{ template "type" dict "Type" $valueType "TypeMap" $typeMap }}]

{{- else if isListType .Type -}}

    List[{{ template "type" dict "Type" (listElemType .Type) "TypeMap" $typeMap }}]



{{- else if isCoreType $type -}}

    {{get $typeMap $type}}

{{- else -}}

    {{ .Type }}

{{- end -}}
{{- end -}}
