{{- if .Services }}
{{- range .Services }}
{{- range .Methods }}
class {{.Name}}Args:
    def __init__(self, {{- range .Inputs}}{{- $isExportable := true -}}
        {{- range $meta := .Meta -}}
            {{- if eq (get $meta "json") "-" -}}
                {{- $isExportable = false -}}
            {{- end -}}
        {{- end -}}
        {{- if $isExportable -}}
            {{template "fieldName" dict "Field" .}}{{if .Optional}}: Optional[{{template "type" dict "Type" .Type "TypeMap" $typeMap}}]] = None, {{else}}: {{template "type" dict "Type" .Type "TypeMap" $typeMap}}, {{end -}}
        {{- end -}}
    {{- end -}}) -> None:
        {{- range .Inputs -}}
            self.{{template "fieldName" dict "Field" .}} = {{template "fieldName" dict "Field" .}}
        {{- end }}

class {{.Name}}Return:
    def __init__(self, {{- range .Outputs}}{{- $isExportable := true -}}
        {{- range $meta := .Meta -}}
            {{- if eq (get $meta "json") "-" -}}
                {{- $isExportable = false -}}
            {{- end -}}
        {{- end -}}
        {{- if $isExportable -}}
            {{template "fieldName" dict "Field" .}}{{if .Optional}}: Optional[{{template "type" dict "Type" .Type "TypeMap" $typeMap}}]] = None, {{else}}: {{template "type" dict "Type" .Type "TypeMap" $typeMap}}, {{end -}}
        {{- end -}}
    {{- end -}}) -> None:
        {{- range .Outputs -}}
            self.{{template "fieldName" dict "Field" .}} = {{template "fieldName" dict "Field" .}}
        {{- end }}
{{- end }}
{{- end }}